@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

.profile-page {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-family: BlinkMacSystemFont, 'Roboto', sans-serif;
}

.profile-top-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin-top: 102px;
  padding-bottom: 72px;
  padding-right: 240px;

  border-bottom: 1px solid rgb(202, 202, 202);

  width: calc(100% - 750px);
}

.profile-page .profile-top-half img {
  height: 150px; 
  width: 150px;
  border-radius: 100px;
  margin-right: 104px;
}

.profile-page .profile-info {
  display: flex;
  flex-direction: column;
}

.profile-page .top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 28px;
}

.top-section .profile-handle {
  font-size: 27px;
  font-weight: 300;
}

.top-section button {
  font-family: 'Roboto', sans-serif;

  margin-left: 20px;
  margin-right: 12px;
  padding: 5px 9px;

  font-weight: 500;
  font-size: 14px;
  color: rgb(30, 30, 30);

  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
}

.profile-page .middle-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;

  color: #262626;

  font-weight: 400;
  font-size: 16px;
}

.middle-section .number-followers {
  margin: 0 42px;
}

.profile-page .bottom-section {
  display: flex;
  flex-direction: column;
}

.profile-page .profile-name {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  padding-bottom: 3px;
}

.profile-page .profile-description {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
}

.profile-page .profile-bottom-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 510px);

}

.profile-page .profile-bottom-half button {
  border: 0;
  border-top: 1px solid rgb(49, 49, 49);
  margin-top: -1px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 6px;

  font-family: BlinkMacSystemFont, 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;

  color: #343434;
  background-color: rgb(250, 250, 250);

  cursor: pointer;
}

.profile-page .profile-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-page .profile-posts img {
  width: 281px;
  margin: 12px;
  flex: 0 1 28%;
}

