@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

.post-comment {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: scroll;
}

.post-comment .description-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 16px 14px;
}

.post-comment .description-text {
  font-weight: 400;
  margin-left: 8px
}

.post-comment .comment-content {
  display: flex;
  flex-direction: column;
}

.post-comment .comment-statistics {
  display: flex;
  flex-direction: row;

  margin-left: 12px;
  margin-top: 8px;

  font-weight: 400;
  font-size: 12px;
  color: #8E8E8E;
}

.post-comment .comment-statistics span {
  margin-left: 10px;
  font-weight: 600;
}

