@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

.opened-post-parent {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 200;
}

.opened-post {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 40px);
  max-width: calc(100% - 64px - 64px);

  background-color: white;

  border-radius: 4px;
  box-shadow: 0 0 0 9999px #000000b0;
}

.opened-post .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opened-post .profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;

  border-bottom: 1px solid rgb(239, 239, 239);
}

.opened-post .name-and-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.opened-post .username {
  padding-left: 12px;
  color: #262626;
}

.opened-post .post-info {
  border-top: 1px solid rgb(239, 239, 239);
  padding: 9px 12px 0 12px;

  color: #373737;
  font-size: 14px;
}

.opened-post .post-interactive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  color: rgb(55, 55, 55);
}

.opened-post .post-upload-time {
  color: #909090;
  font-size: 10px;
  font-weight: 400;
  margin: 10px 0 12px 0;
}

.opened-post .new-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;

  width: 90%;
  border-top: 1px solid rgb(239, 239, 239);
  background-color: rgb(255, 255, 255);

  padding: 12px 16px 12px 12px;
  border-radius: 4px;
}

.opened-post input {
  flex: 1;
  border: none;
  font-size: 15px;
  outline: none;
}

.opened-post .new-comment button {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

  color: rgb(177, 219, 252);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
